In [1]:
import scipy
import numpy as np
import matplotlib
import pandas as pd
import sklearn
import statsmodels

In [2]:
input_csv = '../datasets/port_monthly/public-parking-counts-at-port-authority-of-ny-nj-airports-beginning-2002-1.csv'
series = pd.read_csv(input_csv, header=0, index_col=0, parse_dates=True, squeeze=True)

series = series.rename(columns={"Public Parking Counts at PA Airports ": "parking_counts"})

series = series.replace({'parking_counts': 0}, np.nan)
series = series.dropna()

series = series.loc[series.index == "Kennedy International Airport"]

series['Date'] = pd.to_datetime(series.assign(Day=1).loc[:, ['Year','Month','Day']])
series = series.drop(columns=['Year','Month'])
series = series.reset_index(drop=True)

series['month'] = series['Date'].dt.strftime('%Y-%m')
series = series.drop(columns=['Date'])

series = series[['month', 'parking_counts']]

series = series.sort_values(by=['month'])

series

       month  parking_counts
176  2002-01        349019.0
175  2002-02        301327.0
174  2002-03        367110.0
173  2002-04        355947.0
172  2002-05        370167.0
..       ...             ...
4    2016-05        352086.0
3    2016-06        375360.0
2    2016-07        425571.0
1    2016-08        423183.0
0    2016-09        346183.0

[177 rows x 2 columns]

In [4]:
export_csv = '../datasets/port_monthly/Kennedy International Airport FullDataset.csv'
export_csv1 = '../datasets/port_monthly/Kennedy International Airport TrainTest.csv'
export_csv2 = '../datasets/port_monthly/Kennedy International Airport Validation.csv'

split_point = len(series) - 12
dataset, validation = series[0:split_point], series[split_point:]
print('Dataset %d, Validation %d' % (len(dataset), len(validation)))
series.to_csv(export_csv, header=False, index=False)
dataset.to_csv(export_csv1, header=False, index=False)
validation.to_csv(export_csv2, header=False, index=False)

Dataset 165, Validation 12