In [6]:
import warnings
import itertools
import numpy as np
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')
import pandas as pd
import statsmodels.api as sm
import matplotlib

import matplotlib.pyplot as plt
%matplotlib inline

from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 30,10

In [7]:
df = pd.read_csv('../../datasets/prepared/parking-prepared.csv')
df

      verification_datetime  spots_available
0       2016-10-02 05:30:00             5017
1       2016-10-02 05:45:00             5015
2       2016-10-02 06:00:00             5015
3       2016-10-02 06:15:00             5014
4       2016-10-02 07:00:00             5000
...                     ...              ...
16214   2017-04-21 22:00:00               62
16215   2017-04-21 22:30:00              587
16216   2017-04-21 23:00:00              739
16217   2017-04-21 23:30:00              807
16218   2017-04-21 23:45:00              843

[16219 rows x 2 columns]

In [9]:
#decomposition = sm.tsa.seasonal_decompose(df, model='index')
#fig = decomposition.plot()
#plt.show()

ValueError: could not convert string to float: '2017-04-21 23:45:00'